body{
    display: flex;
    justify-content: center;
    align-items: center;
         background: linear-gradient(90deg, #f7d2d2, #cef7f5, #f0f0eb);

}

.calculator{
    margin-top: 100px;
    border: 5px solid #cef7f5;
    padding: 30px 10px ;
    border-radius: 20px;
      background-color: black;
      

}

.same{
    background-color: transparent;
    width: 60px;
    height: 50px;
    margin: 3px;
    font-size: 20px;
    color: white;
   border: none;
   border-radius: 10px;
   box-shadow:0px  6px 10px #cef7f5;
   cursor: pointer;
   transition: 0.1s ease-in all;
}
.alg{
    width: 130px;
}
.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 272px;
    margin-bottom: 20px; 
    /* border: 1px solid black;  */
    border-radius: 5px;
   box-shadow:0px  6px 10px #cef7f5;
    height: 50px;
}
.expression{
    height: 50%;
    padding: 5px 10px;
    color: white;
}
.result{
    font-size: 20px;
    padding: 5px 10px;
    height: 50%;
    color: white;
    
     
}
.same:hover{
    background-color: #cef7f5;
    color: black;
}

@media (max-width: 321px){
    .calculator{
    margin-top: 100px;
    padding: 10px 10px ;
      width: 100%;
      }

.same{
    margin: 2px;
}
}